* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  background: linear-gradient(to bottom, #000000, #2d081b);

}


.logo {
  height: 50px;
}

/* Update your existing CSS or add this to your styles.css file */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 10px 20px;
}

.nav-logo img {
  height: 50px;
}

.nav-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  /* Display the ul as a flex container */
}

.nav-menu ul li {
  margin-left: 80px;
  /* Add margin to separate menu items */
}

.nav-menu ul li:first-child {
  margin-left: 0 
}
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

  }

  .game-header-left-score {
    color: #b11764;
    font-size: 20px;
  }

  .game-header-left-lives {
    color: #b11764;
    font-size: 20px;
  }

  .game-header-right-timer {
    color: #b11764;
    font-size: 20px;
  }